html {
    background-color: rgba(180, 228, 247, 0.769);
  }
.login_title{font-family: "Roboto", sans-serif; color: #333; font-weight: 700;
    font-size: 30px; text-decoration: none; text-align: center; padding: 20px 0; 
    background-color: skyblue; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top: 50px;
    border-radius: 5px; margin-bottom: 25px;}

.login_form {text-align: center;}
.button {text-align: center; margin-top: 10px;}
